#root {
  max-width: 42rem;
  height: 100%;
  margin: auto;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.machineContainer {
  flex: 4;
}

.coinContainer {
  flex: 1;
}

.language-switch {
  button {
    margin: 0.5rem;
  }
}

.vending-machine {
  text-align: center;
  background-color: var(--primary-color);
  border: var(--border-width) solid var(--secondary-color);
  border-radius: var(--border-radius);
  min-height: 30%;
}

.vending-machine-screen {
  padding: var(--spacing-small) 0;
  color: var(--highlight-color);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  height: 6.875rem;
  width: 65%;
  margin: auto;
  margin-top: var(--spacing-medium);
  text-shadow: var(--border-width) var(--border-width) 0 rgba(0, 0, 0, 0.3);

  p {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-large);
    font-weight: bold;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-medium);
  max-width: 37.5rem;
  margin: var(--spacing-medium) 0;
  justify-content: center;
}

.grid-button {
  background-color: var(--highlight-color);
  border: var(--border-width) solid var(--secondary-color);
  padding: var(--spacing-small);
  width: 12.5rem;
  height: 6.25rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  font-size: var(--font-size-medium);

  &:hover {
    background-color: var(--hover-color);
  }
}

.coins {
  max-width: 10%;
  height: 90%;
  align-self: center;
}

.coin-buttons button,
.return-cash button {
  margin: var(--spacing-small);
  height: 4.375rem;
  width: 4.375rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 50%;
  background-color: var(--button-bg);
  border: var(--border-width) solid var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: var(--font-size-small);
}

.return-cash button {
  border-radius: var(--border-radius);
  background-color: var(--return-cash-bg);
  width: 5rem;
  margin: 0 0.313rem;
}

@media (max-width: 48rem) {
  .coins {
    max-width: 20%;
  }
}

.progress-bar {
  margin-top: var(--spacing-small);
  width: 0%;
  height: 1rem;
  background-color: var(--accent-color);
  animation: fillProgressBar 5s linear forwards;
}

@keyframes fillProgressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.progress-bar-container {
  width: 100%;
  height: 1.25rem;
}

.product-content {
  display: flex;
  align-items: center;
}

.product-image {
  width: 5rem;
  height: 5rem;
  margin: var(--spacing-small);
  border-radius: var(--border-radius);
}

.product-info {
  margin: 0;
  width: 6.25rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loader {
  border: var(--loader-border-width) solid var(--primary-color);
  border-top: var(--loader-border-width) solid var(--accent-color);
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
