:root {
  --white: #ffffff;
  --primary-color: #242424;
  --secondary-color: #ccc;
  --accent-color: #4caf50;
  --highlight-color: #201a17;
  --hover-color: #32241d;
  --button-bg: #504a28;
  --button-bg-color: #1a1a1a;
  --return-cash-bg: #2b3d6d;
  --font-size-large: 1.5rem;
  --font-size-medium: 1rem;
  --font-size-small: 0.875rem;
  --border-radius: 0.5rem;
  --border-width: 0.063rem;
  --spacing-small: 0.625rem;
  --spacing-medium: 1.25rem;
  --loader-border-width: 1rem;
  --min-width: 20rem;
  --button-padding: 0.6em 1.2em;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: var(--min-width);
  min-height: 100vh;
}

button {
  color: var(--white);
  border-radius: var(--border-radius);
  border: var(--border-width) solid transparent;
  padding: var(--button-padding);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--white);
  }
}
